<div ng-include="'partials/header.html'"></div>

<div class="main-container">
    <form class="edit-pass" name="changePasswordForm" ng-submit="changePassword()">
        <input type="password" ng-model="userData.oldPassword" placeholder="Old password"/>
        <input type="password" ng-model="userData.newPassword" placeholder="New password"/>
        <input type="password" ng-model="userData.confirmPassword" placeholder="Confirm new password"/>
        <button class="button-large" type="submit">Save</button>
        <a href="#/home">Cancel</a>
    </form>
</div>
