<div ng-include="'partials/header.html'"></div>


<form name="registerForm" ng-submit="editProfile()">
    <input type="text" ng-model="userData.name" placeholder="Name"><br/>
    <input type="text" ng-model="userData.email" placeholder="Email"><br/>
    Gender:<input type="radio" name="gender" value="0" ng-model="userData.gender"/>
    <input type="radio" name="gender" value="1" ng-model="userData.gender"/>
    <input type="radio" name="gender" value="2" ng-model="userData.gender"/><br/>
    <hr/>
    Profile picture:
    <div>
        <img src="" data-ng-src="data:image/png;base64,{{userData.profileImageData}}" base-sixty-four-image="profileImage" alt="Profile image" />
        <label for="profile-img">Select Image</label>
        <input id="profile-img" type="file" ng-model="profileImage" name="file" base-sixty-four-input>
    </div>
    <hr/>
    Cover picture:
    <div>
        <img src="" data-ng-src="data:image/png;base64,{{userData.coverImageData}}" base-sixty-four-image="coverImage" alt="Cover image" />
        <label for="cover-img">Select Image</label>
        <input id="cover-img" type="file" ng-model="coverImage" name="file" base-sixty-four-input>
    </div>

    <a href="#/home">Cancel</a>
    <button type="submit">Save changes</button>
</form>
</div>
<hr/>



<!--<br>Image preview: <br>-->
<!--<img base-sixty-four-image="image" base-sixty-four-image-placeholder="placeholder.png" alt="">-->
<h2>File Info</h2>
<p>
    <b>File Name: </b> {{profileImage.filename}}
</p>
<p>
    <b>File type: </b> {{profileImage.filetype}}
</p>
<p>
    <b>File Size: </b> {{profileImage.filesize}} bytes
</p>
<p>
    <b>Base 64 encoded: </b>
<p>
    <textarea name="" id="" cols="30" rows="10">
        {{profileImage.base64}}
    </textarea>
</p>
</p>