<form name="registerForm" ng-submit="editProfile()">
    <input type="text" ng-model="userData.name" placeholder="Name"><br/>
    <input type="text" ng-model="userData.email" placeholder="Email"><br/>
    Gender:<input type="radio" name="gender" value="0" ng-model="userData.gender"/>
    <input type="radio" name="gender" value="1" ng-model="userData.gender"/>
    <input type="radio" name="gender" value="2" ng-model="userData.gender"/><br/>


    <a href="#/home">Cancel</a>
    <button type="submit">Save changes</button>
</form>
</div>