<div ng-include="'partials/header.html'"></div>

<div ng-controller="FriendWallController" class="clearfix main-container">
    <div style="position: relative">
        <img src="" ng-src="{{userFullData.coverImageData || 'img/default-cover.png'}}" alt="Oi" style="width:100%;height:250px;box-shadow:0 1px 3px rgba(0,0,0,0.25)" />
        <div style="position: absolute;bottom:0px;width:150px;height:150px;border: 2px solid white;box-shadow:0 1px 3px rgba(0,0,0,0.25);">
            <img src="" ng-src="{{userFullData.profileImageData || 'img/anonymous.jpg'}}" alt=""  style="width: 100%;height: 100%"/>
        </div>
        <div style="position: absolute;bottom:50px;left: 180px;font-size:30px;color:pink">
            <span style="color: #fff;text-shadow: 1px 1px 3px black">{{userFullData.name}}</span>
        </div>
        <div style="position: absolute;bottom:2px;left:2px">
            <img ng-src="{{userFullData.gender | genderIcon}}" width="40" height="30"/>
        </div>
        <div style="position: absolute;bottom:170px;left:20px">
            <span style="color: #fff;font-weight:bold;font-size: 20px;text-shadow: 1px 1px 1px #333">{{userFullData.isFriend | friendStatus}}</span>
            <button class="button" ng-if="showInvite" ng-click="sendFriendRequest(userFullData.username)">Invite</button>
            <button ng-if="showPendingRequest" style="border:none;background-color:transparent;color:#fff;font-size: 18px">Friend request send</button>
        </div>
    </div>

    <div class="clearfix" style="margin-top: 20px">
        <div style="float:left;width:58%">
            <div  class="add-new-msg">
                <form ng-submit="addNewPost(userFullData.username)">
                    <input type="text" placeholder="Post content" ng-model="postContent" />
                    <button class="button" type="submit">Send</button>
                </form>
            </div>
            <ul>
                <li ng-repeat="post in userPostsData" style="background-color:#fff;padding: 10px;position:relative;margin-bottom: 15px;box-shadow:0 1px 3px rgba(0,0,0,0.25) ">
                    <div ng-if="post.author.username === userData.username" style="position: absolute;right: 10px">
                        <div >
                            <button ng-click="showHideEditElements()" style="background-color:transparent; border: none;text-decoration:underline;color:#3675B5">Edit</button>
                            <button ng-click="deleteOwnPost(post.id, userFullData.username)" style="background-color:transparent; border: none;text-decoration:underline;color:#3675B5">Delete</button>
                        </div>
                        <div class="edit-post" ng-show="showEditPostElements">
                            <input type="text" placeholder="New content" ng-model="post.postContent"/>
                            <button class="button" ng-click="editOwnPost(post.id, post.postContent,userFullData.username)">Send</button>
                            <button class="cancel-button" ng-click="showHideEditElements()">Cancel</button>
                        </div>
                    </div>
                    <div post-details post="post" />
                </li>
            </ul>
        </div>

        <div style="float: right;width:40%;box-shadow:0 1px 3px rgba(0,0,0,0.25) ">
            <h2 style="background-color: white;padding: 10px;font-size:16px">
                <a href="#/user/{{userFullData.username}}/friends" style="color:#3675B5">Friends</a>
                <span style="color: #555">{{friendsFriendsCount}}</span>
            </h2>
            <ul> <!--username, name, gender, profileImageData, id-->
                <li ng-repeat="friend in friendsDetailedList | limitTo: 6" style="border-bottom: 1px solid #aaa;margin:10px;padding-bottom: 10px">
                    <div friend-details friend="friend" />
                </li>
            </ul>
        </div>
    </div>
</div>