<header>
    <div>
        <a href="#/user/me" ng-bind="userData.name"></a>
        <img src="" data-ng-src="data:image/png;base64,{{userData.profileImageData}}" alt="{{userData.username}}" style="width:30px;height:30px"/>
    </div>
    <div>
        <a href="#/home">Home</a>
    </div>

    <span>Friend requests:{{requestsCount}}</span>

    <div ng-mousedown="showRequests = !showRequests" ng-init="showRequests=false">Request</div>


    <div ng-show="showRequests" style="position:absolute;background-color: white" >
        {{requestsCount}} results total
        <ul>
            <li ng-repeat="request in requestsData">
                {{request.user.name}}
                <img src="" data-ng-src="data:image/png;base64,{{request.user.profileImageData}}" alt="{{request.user.username}}" style="width:30px;height:30px"/>
                <button ng-click="approveFriendRequest(request.id)">Accept</button>
                <button ng-click="rejectFriendRequest(request.id)">Reject</button>
            </li>
        </ul>
        {{requestsData}}
    </div>

    <a href="#/profile">Edit profile</a>
    <a href="#/changepassword">Change password</a>
    <a href="#/" ng-click="logout()">Logout</a>

    <form ng-submit="searchUser(search)">
        <input type="text" ng-model="search" />
        <button type="submit">Search</button>
    </form>

    <div ng-show="showFoundUsers" style="position: absolute">
        <ul style="z-index: 2">
            <li ng-repeat="user in foundUsers">
                <a href="#/user/{{user.username}}">{{user.name}}
                    <img src="" data-ng-src="data:image/png;base64,{{user.profileImageData}}" alt="{{user.username}}" style="width:30px;height:30px"/>
                </a>
            </li>
        </ul>
        <button ng-click="hideFoundUsers()">Hide</button>
    </div>

</header>
<hr/>