<header ng-controller="AuthenticationController">
    <div>
        <a href="#/user/{{userData.username}}" ng-bind="userData.name" ng-click="getUserProfile()"></a>
        <img src="" data-ng-src="data:image/png;base64,{{userData.profileImageData}}" alt="{{userData.username}}" style="width:30px;height:30px"/>
    </div>

    <button ng-click="getFriendsRequests()">Request</button>
    <span></span>

    <a href="#/profile">Edit profile</a>
    <a href="#/changepassword">Change password</a>
    <a href="#/" ng-click="logout()">Logout</a>

    <form ng-submit="searchUser(search)">
        <input type="text" ng-model="search" ng-change="" />
        <button type="submit">Search</button>
    </form>


</header>