<div ng-include="'partials/header.html'"></div>

<div>
    <div>
        <ul>
            <li ng-repeat="post in postsData" style="border:1px solid pink">
                <div ng-show="true">
                    <button ng-click="deletePost(post.id)">Delete post</button>
                    <button ng-click="editPost(post.id)">Edit post</button>
                </div>
                <div ng-show="true">
                    <input type="text" placeholder="New content" ng-model="post.postContent"/>
                    <button ng-click="editPost(post.id, post.postContent)">Edit</button>
                </div>

                <div post-details post="post" />

            </li>
        </ul>
    </div>

    <div>
        <ul> <!--username, name, gender, profileImageData, id-->
            <a href="#/user/me/friends">Friends</a>
            <span>{{friendsCount}}</span>
            <li ng-repeat="friend in friendsPreviewData.friends | limitTo: 6">
                <div friend-details friend="friend" />
            </li>
        </ul>
    </div>
    <hr/>

</div>




