<div ng-include="'partials/header.html'"></div>

<div>
    <div>
        <ul>
            <li ng-repeat="post in postsData" style="border:1px solid pink">
                <div post-details post="post" />
            </li>
        </ul>
    </div>

    <div>
        <ul> <!--username, name, gender, profileImageData, id-->
            <a href="#/user/me/friends">Friends</a>
            <span>{{friendsCount}}</span>
            <li ng-repeat="friend in friendsPreviewData.friends | limitTo: 6">
                <img src="" ng-src="{{friend.profileImageData || 'img/anonymous.jpg'}}" alt="{{friend.username}}" style="width:30px;height:30px"/>
                <p>
                    Username:{{friend.username}}
                </p>
                <p>
                    <a href="#/user/{{friend.username}}">Name: {{friend.name}}</a>
                </p>
                <p>
                    Gender: {{friend.gender}}
                </p>
                <hr/>
            </li>
        </ul>
    </div>
    <hr/>

</div>




