<div ng-include="'partials/header.html'"></div>

<!--get data about me-- userData>
<!--id, username, name, email, gender, profileImageData, coverImageData -->
<div class="main-container">
    <div style="position: relative">
        <img src="" ng-src="{{userData.coverImageData || 'img/default-cover.png'}}" alt="Oi" style="width:100%;height:250px;box-shadow:0 1px 3px rgba(0,0,0,0.25)" />
        <div style="position: absolute;bottom:0px;width:150px;height:150px;border: 2px solid white;box-shadow:0 1px 3px rgba(0,0,0,0.25);">
            <img src="" ng-src="{{userData.profileImageData || 'img/anonymous.jpg'}}" alt=""  style="width: 100%;height: 100%"/>
        </div>
        <div style="position: absolute;bottom:15px;left: 180px;font-size:30px;color:pink">
            <span style="color: #fff;text-shadow: 1px 1px 3px black">{{userData.name}}</span>
        </div>
        <div style="position: absolute;bottom:2px;left:2px">
            <img ng-src="{{userData.gender | genderIcon}}" width="40" height="30"/>
        </div>
    </div>
    <div class="clearfix" style="margin-top: 20px">
        <div ng-controller="UserWallController" style="float:left;width:58%">
            <div class="add-new-msg">
                <form ng-submit="addNewPost(userData.username)">
                    <input type="text" placeholder="Add new message" ng-model="postContent" style="width: 80%;height: 25px"/>
                    <button class="button" type="submit">Post</button>
                </form>
            </div>
            <ul>
                <li ng-repeat="post in userPostsData" style="background-color:#fff;padding: 10px;position:relative;margin-bottom: 15px;box-shadow:0 1px 3px rgba(0,0,0,0.25) ">
                    <div ng-if="post.author.username === userData.username" style="position: absolute;right: 10px">
                        <div >
                            <button ng-click="showHideEditElements()" style="background-color:transparent; border: none;text-decoration:underline;color:#3675B5;cursor: pointer">Edit</button>
                            <button ng-click="deleteMyPost(post.id, userData.username)" style="background-color:transparent; border: none;text-decoration:underline;color:#3675B5;cursor: pointer">Delete</button>
                        </div>
                        <div ng-show="showEditPostElements">
                            <input type="text" placeholder="New content" ng-model="post.postContent"/>
                            <button class="button" ng-click="editPost(post.id, post.postContent)">Send</button>
                            <button class="cancel-button" ng-click="showHideEditElements()">Cancel</button>
                        </div>
                    </div>
                    <div post-details post="post" />
                </li>
            </ul>
        </div>

        <!--username, name, gender, profileImageData, id-->
        <div style="float: right;width:40%;box-shadow:0 1px 3px rgba(0,0,0,0.25) ">
            <h2 style="background-color: white;padding: 10px;font-size:16px">
                <a href="#/user/me/friends" style="color:#3675B5">Friends</a>
                <span style="color: #555">{{friendsCount}}</span>
            </h2>
            <ul> <!--username, name, gender, profileImageData, id-->
                <li ng-repeat="friend in friendsPreviewData.friends | limitTo: 6" style="border-bottom: 1px solid #aaa;margin:10px;padding-bottom: 10px">
                    <div friend-details friend="friend" />
                </li>
            </ul>
        </div>

        <!--<div ng-controller="UserWallController"> userPostsData-->
        <!--<div>-->
        <!--<ul>-->
        <!--<li ng-repeat="post in userPostsData">-->
        <!--<div post-details post="post" />-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->

        <!--</div>-->
    </div>

</div>


