<div ng-controller="PostsController">
    <div class="clearfix post-item" style="border-bottom: 1px solid #ccc">
        <img style="float: left;width:30px;height:30px" src="" data-ng-src="{{post.author.profileImageData}}" alt="{{post.author.username}}" />
        <div>
            <span style="color: #3675B5"><a style="color: inherit" href="#/user/{{post.author.username}}">{{post.author.name}}</a></span>
            <span> to </span>
            <span style="color: #3675B5"><a  style="color:inherit" href="#/user/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a></span>
        </div>
        <div class="post-item">
            <span style="font-size: 12px;color: #777;font-family: Consolas">{{post.date | date}}</span>
        </div>
    </div>
    <div class="post-item" style="border-bottom: 1px solid #ccc">
        <span>{{post.postContent}}</span>
    </div>

    <div ng-controller="CommentsController">
        <div class="post-item">
            <span><img src="img/like-button.png" width="15" height="15" alt=""/></span>
            <span style="font-size:14px;color:#3675B5">{{post.likesCount}}</span>
            <span><a href="" ng-click="getPostComments(post.id)"><img src="img/comment.png" width="15" height="15" alt=""/></a></span>
            <span style="font-size:14px;color:#3675B5">{{commentsCount || post.totalCommentsCount}}</span>
            <button ng-click="likeUnlikePost(post)">{{post.liked | likeStatus}}</button>
        </div>
        <ul ng-show="showAllComments">
            <li ng-repeat="comment in commentsData | orderBy: date">
                <div class="clearfix">
                    <img style="float: left;width:25px;height:25px" src="" data-ng-src="{{comment.author.profileImageData}}" alt="{{post.author.username}}" />
                    <div>
                        <span style="color: #3675B5;font-size: 12px">{{comment.author.name}}</span>
                        <span style="font-size: 12px;">{{comment.commentContent}}</span>
                    </div>
                    <div>
                        <span style="font-size: 12px;color: #777;font-family: Consolas">{{comment.date | date}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <ul ng-hide="showAllComments">
            <li ng-repeat="comment in post.comments | orderBy: date | limitTo:3">
                <div class="clearfix">
                    <img style="float: left;width:25px;height:25px" src="" data-ng-src="{{comment.author.profileImageData}}" alt="{{post.author.username}}" />
                    <div>
                        <span style="color: #3675B5;font-size: 12px"><a style="color:inherit" href="#/user/{{comment.author.username}}">{{comment.author.name}}</a></span>
                        <span style="font-size: 12px;">{{comment.commentContent}}</span>
                    </div>
                    <div>
                        <span style="font-size: 12px;color: #777;font-family: Consolas">{{comment.date | date}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="Add comment" ng-model="commentContent"/>
            <button type="submit" ng-click="commentPost(post.id)">Send</button>
        </div>
    </div>
    </div>
</div>
